<input type="text" name="species" [(ngModel)]="newAnimal.species"><br>
<input type="text" name="name" [(ngModel)]="newAnimal.name"><br>
<input type="text" name="birth" [(ngModel)]="newAnimal.birth"><br>
<button (click)="addAnimal()">Add new animal</button>

<ul>
	<li *ngFor="let animal of animals; let index = index">
		animal species: {{ animal.species }}, 
		animal name: {{ animal.name }}, 
		birth: {{ animal.birth? animal.birth : "unknown" }},
		<button (click) = "removeAnimal(index)">Remove animal</button>
		<button (click) = "moveToTop(index)">move animal to top of list</button>
		<hr>
	</li>
</ul>